<!-- <h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>
 -->
<h2>Welcome to QuizGame6</h2>
<p> Genres you can play for. </p>
<ul>
    
    <li>
    	<a href = "../teches/">Tech</a>
    	<!-- <button class = "btn-primary"> <a href = "../teches/new/">Tech</a> </button> -->
    <!-- <button class = "btn-primary"> <%= link_to "Tech",'teches#index' %> </button> -->
    </li>

    <br />
    <li>
    	<a href = "../sports/">Sports</a>
    <!-- <button class = "btn-primary"> <%= link_to "Sports",'/sports/1' %> </button>
     -->
 	</li>

    <br />
    <li>
    	<a href = "../minions/">Minions</a>
    <!-- <button class = "btn-primary"> <%= link_to "Minions",'/minions/' %> </button> -->
    </li>
    
    <br />
    <li>
    	<a href = "../foods/">Foods</a>
    	
    <!-- <button class = "btn-primary"> <%= link_to "Food",'/foods/' %> </button> -->
    </li>
    
</ul>
